<!DOCTYPE html>
<html lang="en">

<head>
   <title>main page</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


   <script src="//cdn.amcharts.com/lib/4/core.js"></script>
   <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
   <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>

   <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5 {
         font-family: "Raleway", sans-serif
      }

      .w3-third img {
         margin-bottom: -6px;
         opacity: 0.8;
         cursor: pointer
      }

      .w3-third img:hover {
         opacity: 1
      }


      #chartdiv {
         width: 50%;
         height: 250px;
      }

      #chartdiv2 {
         width: 50%;
         height: 250px;
      }

      .container {}

      .examples {
         display: grid;
         grid-template-columns: 1fr 1fr;
         column-gap: 150px;
      }


      h6 {
         text-align: center;
         text-decoration: underline;
         margin: 1.5rem auto;
      }


      p {
         text-align: center;
      }

      code {
         background-color: #ffecef;
         padding: 5px;
      }

      .stacked td {
         --color-1: rgba(0, 200, 100, 0.5);
         --color-2: rgba(255, 150, 0, 0.5);
         --color-3: rgba(255, 50, 50, 0.5);
      }
   </style>
</head>

<body class="w3-light-grey w3-content" style="max-width:1600px">


   <!-- Sidebar/menu -->
   <nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center"
      style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
      <h3 class="w3-padding-64 w3-center"><b>H&M<br>Recommendation</b></h3>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
      <a href="/" onclick="w3_close()" class="w3-bar-item w3-button">MAIN</a>
      <a href="{{url_for('visualization')}}" onclick="w3_close()" class="w3-bar-item w3-button">VISUALIZATION</a>
      <a href="{{url_for('recommend')}}" onclick="w3_close()" class="w3-bar-item w3-button">RECOMMENDATION</a>
      <a href="{{url_for('us')}}#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT US</a>
      <a href="{{url_for('us')}}#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
   </nav>
   <!-- Top menu on small screens -->
   <header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
      <span class="w3-left w3-padding">H&M Recommendation</span>
      <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
   </header>

   <!-- Overlay effect when opening sidebar on small screens -->
   <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
      title="close side menu" id="myOverlay"></div>

   <!-- !PAGE CONTENT! -->
   <div class="w3-main" style="margin-left:300px">
      <!-- Table Content -->

      <div class="w3-content ">
         <h4 class="w3-center"><b>Customer info</b></h4>
         <div class="container">
            <div class="row">

               <form action="/root" id="form1" >
                  <div class="form-check form-check-inline">
                     <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="col" 
                        onChange="this.form.submit()" value="gender" form="form1" checked>
                     <label class="form-check-label" for="inlineCheckbox1">Gender</label>
                  </div>
                  <div class="form-check form-check-inline">
                     <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="col"
                        onChange="this.form.submit()" value="age" form="form1" checked>
                     <label class="form-check-label" for="inlineCheckbox2">Age</label>
                  </div>
                  <div class="form-check form-check-inline">
                     <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="col"
                        onChange="this.form.submit()" value="club" form="form1" checked>
                     <label class="form-check-label" for="inlineCheckbox2">Club Activate</label>
                  </div>
                  <div class="form-check form-check-inline">
                     <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="col"
                        onChange="this.form.submit()" value="fnews" form="form1">
                     <label class="form-check-label" for="inlineCheckbox2">Fashion News</label>
                  </div>
                  <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" id="inlineCheckbox5" name="col"
                        onChange="this.form.submit()" value="option5" form="form1">
                     <label class="form-check-label" for="inlineCheckbox2">Fashion News</label>
                  </div>
                  <div class="form-check form-check-inline">
                     <input class="form-check-input" type="radio" id="inlineCheckbox6" name="col"
                        onChange="this.form.submit()" value="option6" form="form1">
                     <label class="form-check-label" for="inlineCheckbox2">Fashion News</label>
                  </div>

               </form>
            </div>

            
            <!-- <form formaction="/root2" id="form1"> -->
               <!-- /vis?pie=garment_group_name&bar=index_category -->
               <!-- <select class="w3-bar-item" style="width:20%" name="col2" form="form1">
                  <option value="gender">gender</option>
                  <option value="age">age</option>
                  <option value="club">club</option>
                  <option value="fnews">fnews</option> -->
               <!-- </select> -->
               <!-- <button type='submit'>Show</button> -->
            <!-- </form> -->

            <div class="row">
               <div class="col-4" id="chartdiv1">
               </div>
               <div class="col-4" id="chartdiv2">
               </div>
               <div class="col-4" id="chartdiv3">
               </div>
            </div>
            <div class="row">
               <div class="col" id="chartdiv4">
               </div>
            </div>

            <!-- Push down content on small screens -->
            <div class="w3-hide-large" style="margin-top:83px"></div>
            <div class="w3-section">
               <table class="w3-table-all">
                  <thead>
                     <tr>
                        <th width="150">Name</th>
                        <th width="100">Gender</th>
                        <th width="100">Age</th>
                        <th width="100">Club</th>
                        <th width="100">Fashion News</th>
                        <th width="100">Recommendation</th>

                     </tr>
                  </thead>

                  <tbody>
                     {% for info in appInfo %}
                     <tr>
                        <td>{{ info.name }}</td>
                        <td>{{ info.gender }}</td>
                        <td>{{ info.age }}</td>
                        <td>{{ info.club }}</td>
                        <td>{{ info.fnews }}</td>
                        <td align="center"> <a href="/predict/{{info.id }}"><i class="fa fa-search"></i></a> </td>

                     </tr>
                     {% endfor %}


                  </tbody>
               </table>
            </div>
         </div>
      </div>

      <!-- Modal for full size  images on click-->
      <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
         <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
         <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption"></p>
         </div>
      </div>



      <!-- End page content -->
   </div>

   <script>
      // Script to open and close sidebar
      function w3_open() {
         document.getElementById("mySidebar").style.display = "block";
         document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
         document.getElementById("mySidebar").style.display = "none";
         document.getElementById("myOverlay").style.display = "none";
      }

      // Modal Image Gallery
      function onClick(element) {
         document.getElementById("img01").src = element.src;
         document.getElementById("modal01").style.display = "block";
         var captionText = document.getElementById("caption");
         captionText.innerHTML = element.alt;
      }

      am4core.useTheme(am4themes_animated);
      var chart = am4core.create("chartdiv", am4charts.PieChart);
      chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
      // get value from db2json
      chart.dataSource.url = "/db2json?col={{args[0]}}"
      chart.radius = am4core.percent(70);
      chart.innerRadius = am4core.percent(40);
      chart.startAngle = 0;
      chart.endAngle = 360;

      var series = chart.series.push(new am4charts.PieSeries());
      series.dataFields.value = "count";
      series.dataFields.category = "column";

      series.slices.template.cornerRadius = 10;
      series.slices.template.innerCornerRadius = 7;
      series.slices.template.draggable = true;
      series.slices.template.inert = true;

      series.hiddenState.properties.startAngle = 90;
      series.hiddenState.properties.endAngle = 90;

      chart.legend = new am4charts.Legend();




   </script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
   <script>



      // Script to open and close sidebar
      function w3_open() {
         document.getElementById("mySidebar").style.display = "block";
         document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
         document.getElementById("mySidebar").style.display = "none";
         document.getElementById("myOverlay").style.display = "none";
      }

      // Modal Image Gallery
      function onClick(element) {
         document.getElementById("img01").src = element.src;
         document.getElementById("modal01").style.display = "block";
         var captionText = document.getElementById("caption");
         captionText.innerHTML = element.alt;
      }

      // CHART 1
      var chart = am4core.create("chartdiv1", am4charts.PieChart);
      chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
      // get value from db2json
      chart.dataSource.url = "/db2json1?col={{ args[0]}}"
      chart.radius = am4core.percent(70);
      chart.innerRadius = am4core.percent(40);
      chart.startAngle = 180;
      chart.endAngle = 360;

      var series = chart.series.push(new am4charts.PieSeries());
      series.dataFields.value = "count";
      series.dataFields.category = "column";

      series.slices.template.cornerRadius = 10;
      series.slices.template.innerCornerRadius = 7;
      series.slices.template.draggable = true;
      series.slices.template.inert = true;

      series.hiddenState.properties.startAngle = 90;
      series.hiddenState.properties.endAngle = 90;

      chart.legend = new am4charts.Legend();

      // CHART 2
      // am4core.useTheme(am4themes_animated);
      var chart = am4core.create("chartdiv2", am4charts.PieChart);
      chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
      // get value from db2json
      chart.dataSource.url = "/db2json2?col={{ args[1]}}"
      chart.radius = am4core.percent(70);
      chart.innerRadius = am4core.percent(40);
      chart.startAngle = 180;
      chart.endAngle = 360;

      var series = chart.series.push(new am4charts.PieSeries());
      series.dataFields.value = "count";
      series.dataFields.category = "column";

      series.slices.template.cornerRadius = 10;
      series.slices.template.innerCornerRadius = 7;
      series.slices.template.draggable = true;
      series.slices.template.inert = true;

      series.hiddenState.properties.startAngle = 90;
      series.hiddenState.properties.endAngle = 90;

      chart.legend = new am4charts.Legend();




      // CHART 3
      // am4core.useTheme(am4themes_animated);
      var chart = am4core.create("chartdiv3", am4charts.PieChart);
      chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
      // get value from db2json
      chart.dataSource.url = "/db2json3?col={{args[2]}}"
      chart.radius = am4core.percent(70);
      chart.innerRadius = am4core.percent(40);
      chart.startAngle = 180;
      chart.endAngle = 360;

      var series = chart.series.push(new am4charts.PieSeries());
      series.dataFields.value = "count";
      series.dataFields.category = "column";

      series.slices.template.cornerRadius = 10;
      series.slices.template.innerCornerRadius = 7;
      series.slices.template.draggable = true;
      series.slices.template.inert = true;

      series.hiddenState.properties.startAngle = 90;
      series.hiddenState.properties.endAngle = 90;

      chart.legend = new am4charts.Legend();

      // function chart_timeseries() {

      // am4core.useTheme(am4themes_animated);
      // Create chart instance
      var chart = am4core.create("chartdiv4", am4charts.XYChart);

      // Add data
      chart.data = [{
         "date": new Date(2018, 0, 1),
         "value": 450,
         "value2": 162,
         "value3": 1100
      }, {
         "date": new Date(2018, 0, 2),
         "value": 669,
         "value3": 841
      }, {
         "date": new Date(2018, 0, 3),
         "value": 1200,
         "value3": 199
      }, {
         "date": new Date(2018, 0, 4),
         "value2": 867
      }, {
         "date": new Date(2018, 0, 5),
         "value2": 185,
         "value3": 669
      }, {
         "date": new Date(2018, 0, 6),
         "value": 150
      }, {
         "date": new Date(2018, 0, 7),
         "value": 1220,
         "value2": 350,
         "value3": 600
      }];

      // Create axes
      var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
      dateAxis.renderer.grid.template.location = 0;
      dateAxis.renderer.minGridDistance = 30;

      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

      // Create series
      function createSeries(field, name) {
         var series = chart.series.push(new am4charts.LineSeries());
         series.dataFields.valueY = field;
         series.dataFields.dateX = "date";
         series.name = name;
         series.tooltipText = "{dateX}: [b]{valueY}[/]";
         series.strokeWidth = 2;

         series.smoothing = "monotoneX";

         var bullet = series.bullets.push(new am4charts.CircleBullet());
         bullet.circle.stroke = am4core.color("#fff");
         bullet.circle.strokeWidth = 2;

         return series;
      }

      createSeries("value", "Totol Income");
      createSeries("value2", "Series #2");

   </script>


   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>

</html>